{% extends "base.html" %}

{% set active_page = "pledge" %}
{% block subtitle %}
    Pledge
{% endblock %}
{% block content %}

    <div>
        <h1 class="text-center">Pledge to {{ project.name }}</h1>
    </div>

    <form class="form-horizontal" method="POST" action="{{ url_for('pledge', project_id=project.id) }}">
        <div class="form-group">
            <p><strong>Select a reward:</strong></p>
            {% for reward in project.rewards %}
                <div class="panel reward-card">
                    <p>
                        <input type="radio" name="reward_id" value="{{ reward.id }}">
                        <strong class="text-uppercase">{{ reward.title }}</strong>
                    </p>
                    <p>${{ reward.minimum_pledge_amount }} or more</p>
                    <p>{{ reward.description }}</p>
                </div>
            {% endfor %}
            <div class="panel reward-card">
                <p>
                    <input type="radio" name="reward_id" value="none">
                    <strong class="text-uppercase">No reward</strong>
                </p>
                <p>Pledge money but choose not to recieve a reward.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="amount" class="control-label">Pledge Amount ($)</label>
            <p><input type="number" class="form-control" id="amount" name="amount" style="width:200px"></p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-kickstarter"> Submit</button>
        </div>


    </form>
{% endblock content %}