{% extends "base.html" %}
{% set active_page = "project_detail" %}

{% block subtitle %}
    {{ project.name }}
{% endblock %}
{% block head_javascript %}
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({
        publisher: "704ac4fe-72a0-4f69-8cee-b02a38f619fd",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: false
    });</script>
{% endblock head_javascript %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">{{ project.name }}</h1>
            <div class="text-center"> by {{ project.creator.first_name }} {{ project.creator.last_name }}</div>
        </div>
    </div>
    <div class="col-xs-12" style="height:30px;"></div>


    <div class="row">
        <div class="col-sm-8">
            <div class="panel">
                <p class="text-center">{{ project.short_description }}</p>
                <img class="img-responsive center-block" src="{{ project.image_path }}" width="680" height="500">
                {% if project.category %}
                    <div>
                        <i class="glyphicon glyphicon-tags"></i><a
                            href="{{ url_for('search',category_slug=project.category.slug) }}">{{ project.category.name }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="panel text-center">
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_amazon_wishlist_large' displayText='Amazon Wishlist'></span>
                <span class='st_pinterest_large' displayText='Pinterest'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
            <div class="panel">
                <p class="text-center">{{ project.long_description }}</p>
            </div>

            <div class="panel">

                <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */

                    var disqus_config = function () {
                        this.page.url = "{{ request.base_url }}";  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = {{ project.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function () {  // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//kickstarter-demo.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
                                                                  rel="nofollow">comments powered by Disqus.</a>
                </noscript>
            </div>
        </div>

        <div class="col-sm-4">

            <div class="panel">
                <span class="project-vitals">{{ project.num_pledges }}</span> pledges
            </div>
            <div class="panel">
                <span class="project-vitals">${{ project.total_pledges }}</span><br/> pledges of
                ${{ project.goal_amount }}
                goal
            </div>

            <div class="panel">
                <span class="project-vitals">{{ project.num_days_left }}</span> days left
            </div>

            <div class="panel">
                <a href="{{ url_for('pledge', project_id=project.id) }}" class="btn btn-kickstarter">Pledge Now</a>
            </div>

            <div class="panel">
                <h3>Pledge Rewards</h3>
            </div>
            {% for reward in project.rewards %}
                <div class="panel search-card">
                    <p class="text-uppercase"><strong>{{ reward.title }}</strong></p>
                    <p><span class="project-vitals"> ${{ reward.minimum_pledge_amount }} </span> or more</p>
                    <p><span class="project-vitals"> {{ reward.num_pledges }} </span> pledges so far </p>
                    <p>{{ reward.description }}</p>
                </div>

            {% endfor %}
            <div class="panel">
                <a href="{{ url_for('stats', project_id=project.id) }}"><i class="glyphicon glyphicon-stats"></i>View
                    Stats </a>
            </div>

        </div>
    </div>
{% endblock %}